<body>
    <div class="container">
        <!-- Rând cu imagine și text -->
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="img-presentation">
                    <img src="~/Resources/Home/event.png" alt="poză_eveniment" class="img-presentation-cover">
                </div>
            </div>
            <div class="col-lg-6">
                <h1>Servicii pentru orice eveniment</h1>
                <h2>SIMPLU, RAPID, SIGUR!</h2>
            </div>
        </div>
        <!-- Rând cu search (sub imagine și text) -->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="search-container">
                    <div class="search-box">
                        <input type="text" placeholder="Fotograf, DJ, Catering...">
                        <button class="button">Căutare</button>
                    </div>
                </div>
            </div>
        </div>

        <section class="servicii-populare">
            <div class="container">
                <h2 class="title">SERVICII POPULARE</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-card">
                            <img src="~/Resources/Home/photograph.jpg" alt="Fotografi & Videografi">
                            <p>Fotografi & Videografi</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-card">
                            <img src="~/Resources/Home/music.jpeg" alt="Muzică & DJ">
                            <p>Muzică & DJ</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-card">
                            <img src="~/Resources/Home/decor.jpeg" alt="Decor">
                            <p>Decor</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="prestatori-recomandati">
            <div class="container">
                <h2 class="title">PRESTATORI RECOMANDAȚI</h2>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="prestator-card">
                                <img src="~/Resources/Home/photograph.jpg" alt="Prestator 1">
                                <div class="prestatori-detalii">
                                    <h3>Nume Prestator 1</h3>
                                    <p>Categoria: Fotograf</p>
                                    <p>Rating: ⭐ 4.9/5</p>
                                </div>
                                <button class="detail-button">Detalii</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="prestator-card">
                                <img src="~/Resources/Home/music.jpeg" alt="Prestator 2">
                                <div class="prestatori-detalii">
                                    <h3>Nume Prestator 2</h3>
                                    <p>Categoria: DJ</p>
                                    <p>Rating: ⭐ 4.9/5</p>
                                </div>
                                <button class="detail-button">Detalii</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="prestator-card">
                                <img src="~/Resources/Home/decor.jpeg" alt="Prestator 3">
                                <div class="prestatori-detalii">
                                    <h3>Nume Prestator 3</h3>
                                    <p>Categoria: Catering</p>
                                    <p>Rating: ⭐ 4.9/5</p>
                                </div>
                                <button class="detail-button">Detalii</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="prestator-card">
                                <img src="~/Resources/Home/decor.jpeg" alt="Prestator 3">
                                <div class="prestatori-detalii">
                                    <h3>Nume Prestator 4</h3>
                                    <p>Categoria: Catering</p>
                                    <p>Rating: ⭐ 4.9/5</p>
                                </div>
                                <button class="detail-button">Detalii</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>