* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

body{
    background-color: #ebf5ee;
}

.header-wrapper {
    background-color: #78a1bb; /* Culoarea de fundal dorită */
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    padding-bottom: 5px;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.25);
}

.header-wrapper header {
    color: #283044;/* Culoarea textului */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer-wrapper {
    background-color: #78a1bb; /* Culoarea de fundal dorită */
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

footer {
    color: #283044; /* Culoarea textului */
}

.footer-logo img{
    width: 15rem;
}

.nav-logo img {
    width: 12rem;
    margin-bottom: 18px;
}

.button-nav-a {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: inline-block;
    transform: skew(21deg);
    text-align: center;
}

.button-nav {
    background: #78a1bb;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

.button-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #283044;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.button-nav:hover {
    color: #ffffff;
}

.button-nav:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

hr {
    width: 100%;
    margin-top: 0px;
}

.img-presentation {
    border-radius: 75px 217px 75px 217px;
    opacity: 0.80;
    width: 100%;
    left: 70px;
    top: 173px;
    box-shadow: 5px 5px 22.4px 5px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

/* Stilizare text */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.8rem;
    color: #333;
}

/* Search Box */
.search-container {
    margin-top: 50px;
}

.search-box {
    display: flex;
    background: white;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.search-box input {
    flex-grow: 1;
    border: none;
    padding: 15px;
    font-size: 1rem;
    outline: none;
}

.search-box .button {
    background: #a4c2a5;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: #3a5a40;
}

.servicii-populare {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.servicii-populare {
    background-color: #f8f3fc;
    padding: 50px 0;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.service-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    padding-bottom: 10px;
}

.service-card img {
    width: 100%;
    border-bottom: 2px solid #ddd;
}

.service-card p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.service-card:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.filters-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0px 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.filters-btn:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transform: scale(1.02);
}

.filters {
    padding: 10px 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    width: 250px;
    min-width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.date {
    width: 120px;
    max-width: 60%;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
}

.date:focus {
    opacity: 0.9;
    color: #fff;
    background-color: rgb(20, 20, 20);
    transform: scale(1.05);
    border: 2px solid black;
}

.date:hover {
    background-color: rgb(20, 20, 20);
    color: #fff;
    opacity: 0.9;
    cursor: pointer;
    border: 2px solid black;
}

.price {
    display: flex;
    align-items: center;
    margin-left: 5px
}

#price-min {
    margin-right: 3px
}

#price-max {
    margin-left: 3px;
}

.price-size {
    width: 60px;
    max-width: 25%;
    background: rgb(240, 240, 240);
    border: 2px solid #ccc;
    border-radius: 3px;
}

.price-size:focus {
    background: rgb(20, 20, 20);
    opacity: 0.9;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
    transform: scale(1.05);
}

.price-size:hover {
    background: rgb(20, 20, 20);
    opacity: 0.9;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
}

.reset-btn {
    margin: 10px 0px;
}

.reset-btn:hover {
    margin: 10px 0px;
}

aside h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 3px 3px 3px
}

.custom {
    margin: 25px;
    min-width: 28%;
}

.col-edit {
    margin-left: 45px;
    padding-top: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.card {
    background-color: #fff;
    border-radius: 20px;
    border-radius: 15px;
    max-height: 350px
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03) translateY(-10px);
    transition: all .2s ease-in-out;
}

.card_image {
    min-height: 180px;
    margin-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card h4 {
    text-align: center;
    color: rgb(20, 20, 20);
    font-size: 20px
}

.card p {
    padding: 0px 25px;
    font-size: 15px;
}

.card a {
    background-color: rgb(20, 20, 20);
    color: #fff;
    padding: 5px 15px;
    display: block;
    text-align: center;
    margin: 5px auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card a:hover {
    background-color: #ccc;
    color: rgb(20, 20, 20);
    border: 1px solid black;
}

.artist-1 {
    background-image: url(/img/themotans.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.custom-2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    padding-left: 30px;
}

.pages {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    min-width: 100%;
}