<div class="col-lg-6">
    <div class="footer-logo">
        <img src="~/Resources/Home/logo.png" alt="logo_eveniment.md">
    </div>
    <p class="text-muted">Platforma unde găsești cei mai buni prestatori de servicii pentru evenimentele tale.</p>
    <br>
    <p class="text-muted">© Eveniment.md 2025. Toate drepturile rezervate.</p>
</div>

<div class="col-lg-3">
    <h5>Eveniment.md</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="@Url.Action("Index", "Home")" class="nav-link p-0 text-muted">Acasă</a></li>
        <li class="nav-item mb-2"><a href="@Url.Action("Index", "Services")" class="nav-link p-0 text-muted">Servicii</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tarife</a></li>
    </ul>
</div>

<div class="col-lg-3">
    <h5>Section</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Întrebări frecvente</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Termeni și condiții</i></i></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Polititca de confidențialitate</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contacte</a></li>
    </ul>
</div>