@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eveniment.md</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/Styles/style.css">

    @Styles.Render("~/bundles/bootstrap/css")
</head>
<body>
    <!-- Header -->
    <div class="header-wrapper">
        <div class="container">
            @Html.Partial("_Header")
        </div>
    </div>

    <!-- Body -->
    <div class="container body-content body-container">
        @RenderBody()
    </div>

    @{
        bool hideFooter = ViewBag.HideFooter ?? false;
    }

    @if (!hideFooter)
    {
        <div class="footer-wrapper">
            <div class="container">
                <footer class="row py-4">
                    @Html.Partial("_Footer")
                </footer>
            </div>
        </div>
    }

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

    <script>
        window.addEventListener("scroll", function () {
            let header = document.querySelector(".header-wrapper");
            if (window.scrollY > 50) {
                header.classList.add("shadow");
            } else {
                header.classList.remove("shadow");
            }
        });
    </script>
</body>
</html>