<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eveniment.md</title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="row">
            <div class="col-lg-12">
                <header class="d-flex justify-content-between align-items-center">
                    <div class="nav-logo">
                        <img src="~/Resources/Home/logo.png" alt="logo_eveniment.md">
                    </div>
                    <nav>
                        <a href="@Url.Action("Index", "Home")" class="button-nav-a">
                            <p class="button-nav">Acasă</p>
                        </a>
                        <a href="@Url.Action("Index", "Services")" class="button-nav-a">
                            <p class="button-nav">Servicii</p>
                        </a>
                        <a href="#" class="button-nav-a">
                            <p class="button-nav">Logare</p>
                        </a>
                    </nav>
                </header>
                <hr>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>